<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      MSN
                                  </th>
                                  <th>
                                      Harness Length
                                  </th>
                                  <th>
                                      Gross Weight
                                  </th>
                                  <th>
                                    Atm. Pressure
                                  </th>
                                  <th>
                                      Room Temperature
                                  </th>
                                  <th>
                                    Airport
                                  </th>
                                  <th>
                                    F. Capacity L.W.
                                  </th>
                                  <th>
                                    F. Capacity R.W.
                                  </th>
                                  <th>
                                    F. Qty L.W.
                                  </th>
                                  <th>
                                    F. Qty R.W.
                                  </th>
                                  <th>
                                    Max Alt.
                                  </th>
                                  <th>
                                    Flight No.
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let flight of flights;">
                                      <td>
                                          {{ customers._id }}
                                      </td>
                                      <td>
                                          {{  customers.firstName }}
                                      </td>
                                      <td>
                                           {{  customers.lastName }}
                                      </td>
                                      <td>
                                          {{  customers.address }}
                                      </td>
                                      <td class="text-primary">
                                        {{  customers.city }}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
